{{#nd-form data submit=(action 'submit') class="nd-material-form" as |form|}}
  {{form.nd-control-group propertyName="firstName"}}
  {{form.nd-control-group propertyName="lastName"}}

  <button type='submit' class="nd-button">Save</button>
{{/nd-form}}

<div style="margin-top:20px;">
  <h1>Result: </h1>
</div>
<div>
  First Name: {{model.firstName}}
</div>
<div>
  Last Name: {{model.lastName}}
</div>